/back/conf/elud.json
/back/lib/Updates/_shot
/back/logs
/front/logs
/front/node_modules/
/files
/front/root/_photos/
/front/root/_/app/js/app.js
/front/root/_/app/js/*.js*
/front/root/_/app/xslt/*.gz
/front/root/_/libs/elu_dia_w2ui_template/elu_dia_w2ui_template.css
/front/root/_/libs/elu_dia_w2ui_template/css/sprite.*
